%h2 Next Question
.question
  = @question.blurb
.answer
  - remote_form_for([@response, @answer]) do |f|
    %fieldset
      = hidden_field_tag 'answer[question_id]', @question.id
      = f.label          'Answer'
      = f.text_field     :blurb
    %fieldset
      = submit_tag       'Submit'
