%h2 Tell Us Who You Are

- form_for(@response) do |f|
  %fieldset
    = f.label      :email_address, 'Email Address'
    = f.text_field :email_address
    = f.label      :name,          'Name'
    = f.text_field :name
  %fieldset
    = submit_tag   'Get Started'