!!! Transitional

%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}

%head
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}

  = stylesheet_link_tag "application"
  = javascript_include_tag :all

  = @content_for_header

  %title Survey Gizmo

  %LINK{'REL' => 'SHORTCUT ICON', 'HREF' => '/favicon.ico'}/

%body
  #header.blurb
    %h1 Survey Gizmo: You've got answers, we've got questions!
  #content.blurb
    #flash
      - if flash[:error]
        %p.error=   flash[:error]
      - if flash[:warning]
        %p.warning= flash[:warning]
      - if flash[:notice]
        %p.notice=  flash[:notice]
    - if @response and @response.id
      %ul.nav
        - if @response.next_question
          %li= link_to 'next question', new_response_answer_path(@response)
        - else
          %li= link_to 'your answers', response_path(@response)
          %li= link_to 'all answers', responses_path
    = yield
